
        body {
            margin: 0px;
            padding: 0px;
            background-image: url(1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            margin: auto;
            font-family: 'Kanit', sans-serif;
        }
        
        .left {
            position: absolute;
            left: 34px;
            top: 2px;
            color: aliceblue;
        }
        
        .mid {
            display: block;
            width: 33%;
            margin: 29px auto;
            color: rgb(0, 0, 0);
        }
        
        .right {
            color: aliceblue;
            position: absolute;
            right: 34px;
            top: 2px;
            display: inline-block;
        }
        
        .navbar {
            display: inline-block;
        }
        
        .navbar li {
            display: inline-block;
            font-size: 15px;
        }
        
        .navbar li a {
            color: rgb(255, 255, 255);
            text-decoration: none;
            padding: 3px;
            margin: 2px;
        }
        
        .navbar li a:hover {
            text-decoration: underline;
            color: rgb(180, 171, 158);
            background-color: black;
        }
        
        .left img {
            width: 150px;
            filter: invert(100%);
        }
        
        .btn {
            margin: 21px 9px;
            background-color: black;
            color: white;
            padding: 7px 9px;
            border: 2px solid black;
            border-radius: 22px;
            font-size: 15px;
            cursor: pointer;
        }
        
        .btn:hover {
            background-color: rgb(196, 136, 68);
        }
        
        .container {
            border: 2px solid black;
            margin: 90px 40px;
            padding: 30px 2px;
            width: 30%;
            border-radius: 25px;
        }
        
        .container h2 {
            text-align: center;
            color: aliceblue;
        }
        
        .form-group input {
            text-align: center;
            display: block;
            width: 130px;
            padding: 6px;
            border: 2px solid black;
            margin: 3px auto;
            border-radius: 10px;
        }
        
        .container button {
            display: block;
            width: 20%;
            margin: auto;
        }
    
